@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

*::selection {
  @apply bg-red-300 text-gray-800;
}

:root {
  font-size: 14px;

  @apply text-font;

  // light theme
  & {
    --t-background: 240, 240, 240;
    --t-font: 15, 15, 15;
  }

  // dark theme
  &.dark {
    --t-background: 27, 32, 41;
    --t-font: 190, 195, 206;
  }
}

html {
  font-family: system-ui, sans-serif;
}

body {
  @apply bg-background text-font;
  scrollbar-gutter: stable;
  margin: 0;
}

pre {
  margin: 0;
}

::-webkit-scrollbar {
  @apply w-1.5 h-1;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(var(--t-font), 0.2);
}

::-webkit-scrollbar-thumb {
  @apply bg-font;
}

@layer components {
  .link {
    @apply text-red-600 hover:text-red-900;
  }
}

@layer base {
  // Headings
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold relative;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  // Links
  a {
    @apply link;
  }

  // Lists
  ul, ol {
    @apply list-outside marker:text-red-600 ml-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  // blockquotes
  blockquote {
    @apply px-5 py-1 relative bg-sky-200 dark:bg-sky-950;

    &::before {
      content: '';
      @apply absolute top-0 left-0 bottom-0 bg-sky-600 dark:bg-sky-800 w-2;
    }
  }
}
