---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getCreationTime } from '@/utils/posts';
import GridPosts from "@/components/GridPosts.astro";

type BlogPost = CollectionEntry<"blog">;

const creationTime = (entry: BlogPost) => getCreationTime(entry, 'unix');

const allPosts = await getCollection("blog");

const posts = allPosts
  .sort((a, b) => creationTime(b) - creationTime(a))
  .slice(0, 12);

const githubLink = 'https://github.com/dfidalg0/blog';
---

<Layout title="Welcome">
  <div class="w-[1080px] max-w-[90vw]">
    <h1>Welcome</h1>

    <section class="mt-10 text-justify max-w-2xl">
      <div>
        I’m a Full Stack developer with a degree in Computer Engineering from
        <a
          href="https://en.wikipedia.org/wiki/Instituto_Tecnol%C3%B3gico_de_Aeron%C3%A1utica"
          target="_blank"
          rel="noopener"
        >
          <em>Instituto Tecnológico de Aeronáutica</em> (ITA)
        </a>,
        located in Brazil. I like talking about software in general and explore
        brand new technologies coming out, trying to squeeze the most out of them.
        And I like compilers. And build tools. <del>Webpack is ugly though.</del>
      </div>

      <div class="mt-4">
        This blog is a little hobby of mine. In it, I wanna write about things
        I'm feeling like writing and try to be the more hands-on I can, showing
        the things I'm writing about <em>actually working</em> and make every
        code available. In fact, you can find the source code for this whole
        blog <a href={githubLink} target="_blank" rel="noopener">here</a>.
      </div>
    </section>

    <section class="mt-10">
      <h2>Latest posts</h2>
      <GridPosts {posts} />
    </section>
  </div>
</Layout>
