---
interface Props {
  size?: string | number;
}

const { size = '1.618rem' } = Astro.props;
---

<a
  class="df-logo bg-background bg-opacity-80 p-2 block text-font hover:text-font"
  href="/"
>
  <svg
    width={size}
    height={size}
    viewBox="0 0 21.504 20.918"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      stroke-linecap="round"
      fill-rule="evenodd"
      font-size="9pt"
      stroke="currentColor"
      stroke-width="0.3mm"
      fill="currentColor"
    >
      <path
        d="M 15.059 11.309 L 15.059 20.918 L 13.022 20.918 L 13.022 0 L 21.504 0 L 21.504 1.875 L 15.059 1.875 L 15.059 9.434 L 21.079 9.434 L 21.079 11.309 L 15.059 11.309 Z M 5.127 20.918 L 0 20.918 L 0 0 L 5.2 0 A 13.388 13.388 0 0 1 6.578 0.066 Q 7.967 0.21 8.815 0.671 A 3.137 3.137 0 0 1 9.148 0.879 Q 10.246 1.668 10.394 3.389 A 6.328 6.328 0 0 1 10.415 3.794 Q 10.488 6.167 10.51 8.306 Q 10.532 10.444 10.51 12.583 Q 10.488 14.722 10.415 17.109 A 5.381 5.381 0 0 1 10.285 18.216 Q 10.132 18.868 9.804 19.35 A 2.718 2.718 0 0 1 9.141 20.032 A 3.718 3.718 0 0 1 8.166 20.518 Q 7.183 20.854 5.705 20.908 A 15.967 15.967 0 0 1 5.127 20.918 Z M 5.2 1.875 L 2.036 1.875 L 2.036 19.043 L 5.127 19.043 Q 6.546 19.043 7.312 18.752 A 2.201 2.201 0 0 0 7.603 18.618 A 1.597 1.597 0 0 0 8.068 18.239 Q 8.332 17.916 8.372 17.462 A 1.872 1.872 0 0 0 8.379 17.329 A 215.131 215.131 0 0 0 8.489 10.452 A 216.508 216.508 0 0 0 8.379 3.56 A 1.569 1.569 0 0 0 8.268 2.986 Q 8.11 2.601 7.726 2.354 A 1.848 1.848 0 0 0 7.61 2.285 A 2.583 2.583 0 0 0 7.067 2.073 Q 6.351 1.875 5.2 1.875 Z"
      />
    </g>
  </svg>
</a>

<script>
if (location.pathname === '/') {
  document.querySelectorAll<HTMLAnchorElement>('.df-logo')
    .forEach((el) => el.addEventListener('click', (e) => e.preventDefault()));
}
</script>
